<div class="row g-0 justify-content-between align-items-start">
    <h1 class="col-auto">Welcome {{username}}</h1>
    <div class="col-auto">
        <a href="/profile" style="text-decoration: none;" class="row g-0">My profile</a>
        <a href="/logout" style="text-decoration: none;" class="row g-0">Logout</a>
    </div>
</div>

<h2>Direct messages:</h2>
<form method="POST" action="/message">
    <div class="row g-0 justify-content-start align-items-end">
        <input type="hidden" name="author" value={{author}}>
        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <label class="input-group-text" id="recipient-label" for="recipient-select">To:</label>
            </div>
            <select name="recipient" aria-describedby="recipient-label" id="recipient-select" class="custom-select">
                <option hidden selected></option>
                {{#each recipients}}
                    <option value={{this.id}}>{{this.email}}</option>
                {{/each}}
            </select>
        
            <input name="csrf" type="hidden" value={{csrf}}>

        </div>
        <textarea name="message" class="mb-1 p-1" placeholder="Message"></textarea>
        <input type="submit" value="Send" style="width: 5em !important; height: 2.5em !important" class="btn btn-primary">
    </div>
</form>

<div class="row g-0">
    {{#each messages}}
        <div class="shadow rounded border border-dark mb-3">
            <a href="/delete/message/{{this.id}}" class="btn btn-danger col-auto shadow p-0"><i class="bi bi-x"></i></a>
            <div class="px-4 pb-1">
                {{this.name}} said:
                <h3>
                    {{this.message}}
                </h3>
            </div>
            
        </div>
    {{/each}}    
</div>