<div class="row g-0 justify-content-between align-items-start">
    <h1 class="col-auto">Welcome {{username}}</h1>
    <div class="col-auto">
        {{#if admin}}
        <a href="/admin/sql" class="row g-0">Admin</a>
        {{/if}}
        <a href="/profile" class="row g-0">Profile</a>
        <a href="/upload" class="row g-0">Upload</a>
        <a href="/logout" class="row g-0">Logout</a>
    </div>
</div>

<div>Message someone:</div>
<form method="POST" action="/message">
    <div class="row g-0 justify-content-start align-items-end form-group">
        <input type="hidden" name="author" value={{author}}>
        <div class="input-group mb-1 row g-0">
            <div class="input-group-prepend col-auto">
                <label class="input-group-text" id="recipient-label" for="recipient-select">To:</label>
            </div>
            <select name="recipient" aria-describedby="recipient-label" id="recipient-select" class="form-select custom-select col">
                <option hidden selected>Recipient</option>
                {{#each recipients}}
                    <option value={{this.id}}>{{this.email}}</option>
                {{/each}}
            </select>
        
            <input name="csrf" type="hidden" value={{csrf}}>

        </div>
        <textarea name="message" class="form-control mb-1 p-1" placeholder="Message"></textarea>
        <input type="submit" value="Send" style="width: 5em !important; height: 2.5em !important" class="btn btn-primary">
    </div>
</form>
<div>Direct messages:</div>
<div class="row g-0">
    {{#each messages}}
        <div class="alert alert-secondary p-0" role="alert">
            <a href="/delete/message/{{this.id}}" class="btn btn-danger col-auto shadow p-0"><i class="bi bi-x"></i></a>
            <div class="px-4 pb-1">
                <a href="/profile/{{this.author}}">{{this.name}}</a> said:
                <h3>
                    {{this.message}}
                </h3>
            </div>
            
        </div>
    {{/each}}    
</div>
<br>