<div class="row g-0 justify-content-start align-items-center">
    <a href="/" style="font-size: 2rem" class="col-auto"><i class="bi bi-arrow-left-square-fill"></i></a>
</div>
<div class="row g-0 justify-content-center">
    <h3 class="col-auto">{{username}}</h3>
</div>

<p><b>ID:</b> #{{uid}}</p>
<p><b>Email:</b> {{email}}</p>
<p><b>Password:</b> {{password}}</p>
<p><b>Authenticated Session:</b> {{session}}</p>

<div>
    <b>Comments:</b>
    <form method="POST" action="/comment">
        <input type="hidden" name="uid" value="{{uid}}">
        <div class="row g-0 justify-content-start align-items-end">
            <textarea name="comment" class="mb-1 p-1"></textarea>
            <input type="submit" value="Submit" style="width: 5em !important; height: 2.5em !important" class="btn btn-primary">
        </div>
    </form>
    

    <br>

    <div class="row g-0 justify-content-start pb-3 align-items-start">
    {{#each comments}}
            <div class="col-lg-auto col-md-12 m-1 justify-content-end shadow rounded border border-dark">
                {{#if ../admin}}
                    <a href="/delete/comment/{{this.id}}" class="btn btn-danger col-auto shadow p-0"><i class="bi bi-x"></i></a>
                {{/if}}
                <h1 class="row g-0 mx-3">"{{{this.comment}}}"</h1>
                <div class="row g-0 px-3 justify-content-start align-items-start">{{this.name}}</div>
            </div>
    {{/each}}
    </div>


</div>