<div class="row g-0 justify-content-start align-items-center">
    <a href="/" style="font-size: 2rem" class="col-auto"><i class="bi bi-arrow-left-square-fill"></i></a>
</div>
<div class="row g-0 justify-content-center">
    <h3 class="col-auto">{{username}}</h3>
</div>

<div class="row g-0 justify-content-start">
    <p><b>ID:</b> #{{uid}}</p>
</div>
<div class="row g-0 justify-content-start">
    <p><b>Email:</b> {{email}}</p>
</div>
<div class="row g-0 justify-content-start">
    <p><b>Password:</b> {{password}}</p>
</div>
<div class="row g-0 justify-content-start">
    <p><b>Authenticated Session:</b> {{session}}</p>
</div>

<form method="POST" action="/background">
<div class="row g-0 justify-content-start align-items-center">
    <p class="col-auto m-0">
        <b>Background URL: </b>
        {{#if admin}}
            <div class="col m-1">
                <div class="form-group row g-0">
                    <input name="backgroundUrl" type="text" placeholder="Background URL" class="form-control col" {{#if bgUrl}}
                    value="{{bgUrl}}"
                    {{/if}}>
                    <input type="submit" value="Set Background" class="btn btn-primary col-auto"> 
                </div>
                
            </div>
        {{else}}
            {{#if bgUrl}}
                {{bgUrl}}
            {{/if}}
        {{/if}}
    </p>
</div>
</form>


<div>
    <b>Comments:</b>
    <form method="POST" action="/comment">
        <input type="hidden" name="uid" value="{{uid}}">
        <div class="row g-0 justify-content-start align-items-end form-group">
            <textarea name="comment" class="form-control mb-1 p-1"></textarea>
            <input type="submit" value="Submit" style="width: 5em !important; height: 2.5em !important" class="btn btn-primary">
        </div>
    </form>
    

    <br>

    <div class="row g-0 justify-content-start pb-3 align-items-start">
    {{#each comments}}
            <div class="alert alert-secondary p-0" role="alert">
                {{#if ../admin}}
                    <a href="/delete/comment/{{this.id}}" class="btn btn-danger col-auto shadow p-0"><i class="bi bi-x"></i></a>
                {{/if}}
                <h1 class="row g-0 mx-3">"{{{this.comment}}}"</h1>
                <div class="row g-0 px-3 justify-content-start align-items-start"><a href="/profile/{{this.author}}">{{this.name}}</a></div>
            </div>
    {{/each}}
    </div>


</div>